<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>





<form action="/appointview/" method="get">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Date</th>
      <th scope="col">Department</th>
      <th scope="col">Doctor</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
    {% for i in appo %}
    <tr>
      <td>{{i.id}}</td>
      <td>{{i.name}}</td>
      <td>{{i.email}}</td>
      <td>{{i.phone}}</td>
      <td>{{i.date}}</td>
      <td>{{i.depart}}</td>
      <td>{{i.doc}}</td>
      <td>{{i.message}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
</form>
    
</body>
</html>